# Reading CSV with Pandas

If it is available in your environment, the `Pandas` package provides a versatile, flexible, and faster reader and writer of CSV and other delimited files.  Moreover, when read, delimited files are read into a flexible data structure called a DataFrame that has numerous useful methods.  The Pandas library can perform a great deal of work for data processign and data manipulation, but most of that is outside the scope of this lesson.

In [3]:
import pandas as pd
df = pd.read_csv("data/movie.csv")
df

           Name               Evaluation  Rating  Age
0   Mia Johnson  The movie was excellent     9.5   25
1    Liam Lopez    Didn't really like it     3.0   35
2  Isabella Lee      Wow! That was great     8.0   45
3  Olivia Gupta        Meh, not my thing     2.5   55

In [4]:
df.dtypes

Name           object
Evaluation     object
Rating        float64
Age             int64
dtype: object

In [6]:
pd.read_csv('data/movie.txt', sep="|")

                   Name  Rating  Age
0          Mia\nJohnson     9.5   25
1            Liam Lopez     NaN   35
2  Isabella "Bella" Lee     8.0   45